﻿
<%@ Master Language="C#" AutoEventWireup="true" CodeFile="CMS.master.cs" Inherits="AM_CMS" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Home</title>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />

    <link href="../ScriptsAndCSS/CSS/Pure-Stylecss.css?v=1" rel="stylesheet" type="text/css" />
    <link href="../ScriptsAndCSS/CSS/master.css" rel="stylesheet" type="text/css" />
    <link href="../ScriptsAndCSS/CSS/Controls.css" rel="stylesheet" type="text/css" />

    <link href="../ScriptsAndCSS/CSS/menu/styles.css" rel="stylesheet" type="text/css" />
    <link href="../ScriptsAndCSS/CSS/styles.css" rel="stylesheet" type="text/css" />
    <script src="../ScriptsAndCSS/JS/1_10_2jquerymin.js" type="text/javascript"></script>
    <link href="../ScriptsAndCSS/CSS/GridviewScroll.css" rel="stylesheet" />
    <link href="../ScriptsAndCSS/CSS/popupExtenderStyle.css" rel="stylesheet" type="text/css" />
    <link href="../ScriptsAndCSS/CSS/PopupIframeWindow.css" rel="stylesheet" type="text/css" />
    <link href="../ScriptsAndCSS/CSS/tabContainer.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .searchbtn {
            min-width: 30px !important;
        }

        .form-group1 {
            margin: 25px;
        }
    </style>
    <script type="text/javascript" language="javascript">

        function DisableBackButton() {
            window.history.forward()
        }
        DisableBackButton();
        window.onload = DisableBackButton;
        window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
        window.onunload = function () { void (0) }
    </script>
    <script type="text/javascript">
        function isnumbervalid100(a) {
            if (a.value > 366) {
                a.value = a.value.substring(0, 3);
                return true;
            }
            else {
                if (event.keyCode >= 48 && event.keyCode <= 57) {
                    return true;
                }
                else if (event.keyCode >= 45 && event.keyCode <= 46) {
                }
                else {
                    event.returnValue = false;
                    return false;
                }
            }
        }
    </script>
   
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body >
    <form id="form1" runat="server">
        <asp:ToolkitScriptManager runat="server" ID="ToolkitScriptManager" ScriptMode="Release">
        </asp:ToolkitScriptManager>
        <div id="logo">
            <!--main div-->
            <h1>
                <a href="#">
                    <asp:Image runat="server" ID="imglogo" src="/ScriptsAndCSS/CSS/Images/chamonix-logo.svg" Style="margin-top: -24px; margin-right: 10px;"></asp:Image></a>
                <asp:HiddenField runat="server" ID="hdn_mainmenu_index" />
                <asp:HiddenField runat="server" ID="hdn_mainmenu_name" />
                <asp:HiddenField runat="server" ID="hdn_submenu_name" />
            </h1>
            
            <div>
                <div id="cssmenu">
                    <ul style="margin-bottom: 0px !important; margin-left: 45px;">
                        <li>
                            <asp:LinkButton ID="lbtnhome" runat="server" OnClick="change_OnClick" PostBackUrl="~/AM/CMSHome.aspx">Customer Order Details</asp:LinkButton></li>
                        <li>
                            <asp:LinkButton ID="lbtnlog" runat="server" OnClick="lbtnlog_OnClick" Font-Bold="True"
                                Font-Size="10pt">Back</asp:LinkButton></li>
                    </ul>
                </div>
                <asp:HiddenField ID="latitude" runat="server" />
                                    <asp:HiddenField ID="longitutde" runat="server" />
            </div>
        </div>
        <!--end main div-->
        <div id="content">
            <div id="sidebar">
                <div id="menu">
                    <ul>
                        <asp:MultiView ID="MVSidebarMenu" runat="server" ActiveViewIndex="0">
                            <asp:View ID="View1" runat="server">
                            </asp:View>
                            <asp:View ID="viewCust" runat="server">

                                <li>
                                    <asp:LinkButton ID="lnkCustList" runat="server" OnClick="change_OnClick">Customer List</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkCustMerge" runat="server" OnClick="change_OnClick">Customer Merge</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkcustcard" runat="server" OnClick="change_OnClick">Add Customer Card Detail</asp:LinkButton>
                                </li>
                                <li>
                                    <asp:LinkButton ID="lnkPaymentProfileDetail" runat="server" OnClick="change_OnClick">Add Payment Profile Detail</asp:LinkButton>
                                </li>
                            </asp:View>
                            <asp:View ID="viewInv" runat="server">
                                <li>
                                    <asp:LinkButton ID="lnkCategory" runat="server" OnClick="change_OnClick">Category & Promo Master</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkRawMaterial" runat="server" OnClick="change_OnClick">Raw Material Master</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkProduct" runat="server" OnClick="change_OnClick">Product Master</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkProductStock" runat="server" OnClick="change_OnClick">Product Stock</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkSKUmgmt" runat="server" OnClick="change_OnClick">SKU Management</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkSupplier" runat="server" OnClick="change_OnClick">Supplier Master</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkProductOrder" runat="server" OnClick="change_OnClick">Purchase Order List</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkPurchaseOrder" runat="server" OnClick="change_OnClick">Add & Receive Purchase Order</asp:LinkButton></li>
                            </asp:View>
                            <asp:View ID="viewOrder" runat="server">
                                <li>
                                    <asp:LinkButton ID="lnkManualOrder" runat="server" OnClick="change_OnClick">New Order</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkHoldOrder" runat="server" OnClick="change_OnClick">Draft Order</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkorderProc" runat="server" OnClick="change_OnClick">Import Order</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkapiorderProc" runat="server" OnClick="change_OnClick">API Order</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkinvoiceProc" runat="server" OnClick="change_OnClick">Order Processing</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkInvoiceList" runat="server" OnClick="change_OnClick">Invoice List</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkReshipList" runat="server" OnClick="change_OnClick">Club Membership List</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkRechargeList" runat="server" OnClick="change_OnClick">Trial List</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkCCExpiry" runat="server" OnClick="change_OnClick">Credit Card List</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkBatchLog" runat="server" OnClick="change_OnClick">Print Batch Log</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkInvoiceBatchLog" runat="server" OnClick="change_OnClick">Invoice Batch Log</asp:LinkButton></li>

                            </asp:View>
                            <asp:View ID="viewship" runat="server">
                                <li>
                                    <asp:LinkButton ID="lnkEndiciaAcc" runat="server" OnClick="change_OnClick">Account Setting</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkGetLabel" runat="server" OnClick="change_OnClick">Get Label</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkShippingLog" runat="server" OnClick="change_OnClick">Shipping Log</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkEndiciaLog" runat="server" OnClick="change_OnClick">Endicia Log</asp:LinkButton></li>
                            </asp:View>
                            <asp:View ID="viewrefund" runat="server">
                                <li>
                                    <asp:LinkButton ID="lnkRMAList" runat="server" OnClick="change_OnClick">RMA List</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkRefundList" runat="server" OnClick="change_OnClick">Refund List</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkRADiscount" runat="server" OnClick="change_OnClick">Save RMA List</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkInstantRef" runat="server" OnClick="change_OnClick">Instant Refund</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkInstantRefReq" runat="server" OnClick="change_OnClick">Instant Refund Request</asp:LinkButton></li>
                            </asp:View>
                            <asp:View ID="viewApp" runat="server">
                                <%--   <li>
                                <asp:LinkButton ID="lnkAccMgmt" runat="server" OnClick="change_OnClick">Account Management</asp:LinkButton></li>--%>
                                <li>
                                    <asp:LinkButton ID="lnkParameterSettings" runat="server" OnClick="change_OnClick">Parameter Settings</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkAPIParameterSettings" runat="server" OnClick="change_OnClick">API Parameter Settings</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkShippingMaster" runat="server" OnClick="change_OnClick">Shipping Master</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkEmailReceiver" runat="server" OnClick="change_OnClick">Email Receiver Master</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkEmailServer" runat="server" OnClick="change_OnClick">Email Server Master</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkSaletax" runat="server" OnClick="change_OnClick">Sale Tax Master</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkCardType" runat="server" OnClick="change_OnClick">Credit Card Master</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkEmailSett" runat="server" OnClick="change_OnClick">Email Settings</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="LnkSourceKey" runat="server" OnClick="change_OnClick">Source Key Master</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkCompanyProfile" runat="server" OnClick="change_OnClick">Company Profile</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkAuthenticPermission" runat="server" OnClick="change_OnClick">Support Mail Setting</asp:LinkButton>
                                </li>
                                <li>
                                    <asp:LinkButton ID="lnkSupportEmailPriority" runat="server" OnClick="change_OnClick">Support Email Priority Master</asp:LinkButton>
                                </li>
                                <li>
                                    <asp:LinkButton ID="lnknoreplyemail" runat="server" OnClick="change_OnClick">NoReply Email Master</asp:LinkButton>
                                </li>
                                <li>
                                    <asp:LinkButton ID="lnkunimedApiDetail" runat="server" OnClick="change_OnClick">UnimedAPI Detail</asp:LinkButton>
                                </li>
                                 <li>
                                    <asp:LinkButton ID="lnkSourceKeyAssign" runat="server" OnClick="change_OnClick">SourceKey Assign Master</asp:LinkButton>
                                </li>



                            </asp:View>
                            <asp:View ID="viewReport" runat="server">
                                <%--<li>
                                    <asp:LinkButton ID="lnkSalesSummary" runat="server" OnClick="change_OnClick">Sales Summary</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkDailysale" runat="server" OnClick="change_OnClick">Daily Sale</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkMediaTracking" runat="server" OnClick="change_OnClick">Media Tracking</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkMediaWiseOrder" runat="server" OnClick="change_OnClick">Media Wise Order</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkDateWiseInvoice" runat="server" OnClick="change_OnClick">Date Wise Invoice</asp:LinkButton></li>
                                <li>--%>
                                <asp:LinkButton ID="lnkSourceKeySale" runat="server" OnClick="change_OnClick">SourceKey Sale</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lblMarketingReport" runat="server" OnClick="change_OnClick">Marketing Report A</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lblMarketingReportB" runat="server" OnClick="change_OnClick">Marketing Report B</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lblMarketingReportC" runat="server" OnClick="change_OnClick">Marketing Report C</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lblAutoshipReport" runat="server" OnClick="change_OnClick">Autoship Report</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lblOrderSourceReport" runat="server" OnClick="change_OnClick">Order Source Report</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lblMediaReportA" runat="server" OnClick="change_OnClick">Media Report A</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lblMediaReportB" runat="server" OnClick="change_OnClick">Media Report B</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lblMonthtoMonthReport" runat="server" OnClick="change_OnClick">M2M</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lblProductSaleReport" runat="server" OnClick="change_OnClick">Product Sale Report</asp:LinkButton></li>
                                <%--<li>
                                    <asp:LinkButton ID="lblUnsettledTransaction" runat="server" OnClick="change_OnClick">Unsettled Transaction Report</asp:LinkButton></li>--%>
                            </asp:View>
                            <asp:View ID="ViewMedia" runat="server">
                                <li>
                                    <asp:LinkButton ID="lnkHearAboutUs" runat="server" OnClick="change_OnClick">Hear About Us</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkOfferMaster" runat="server" OnClick="change_OnClick">Offer Master</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="Lnk800Master" runat="server" OnClick="change_OnClick">800 Master</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkProgramType" runat="server" OnClick="change_OnClick">Program Type</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkMediaCost" runat="server" OnClick="change_OnClick">Media Master</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkSpotType" runat="server" OnClick="change_OnClick">Spot Type</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkScript" runat="server" OnClick="change_OnClick">Script Master</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="LnkProductAdvertised" runat="server" OnClick="change_OnClick">Product Advertised</asp:LinkButton></li>
                                <%--<li>
                                    <asp:LinkButton ID="LnkSourceKey" runat="server" OnClick="change_OnClick">Source Key Master</asp:LinkButton></li>--%>
                                <li>
                                    <asp:LinkButton ID="lnkCallcentre" runat="server" OnClick="change_OnClick">Call Centers</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkCopyMaster" runat="server" OnClick="change_OnClick">Copy Master</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="LnkMedaiCategory" runat="server" OnClick="change_OnClick">Revenue Category</asp:LinkButton>
                                </li>
                                <li>
                                    <asp:LinkButton ID="lnkContract" runat="server" OnClick="change_OnClick">Contract Form</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkContractList" runat="server" OnClick="change_OnClick">Contract List</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkCampaignMaster" runat="server" OnClick="change_OnClick">Campaign Master</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkMediaAccounting" runat="server" OnClick="change_OnClick">Media Accounting</asp:LinkButton></li>
                            </asp:View>
                            <asp:View ID="viewSupport" runat="server">
                                <li>
                                    <asp:LinkButton ID="lnkCSMCustomerList" runat="server" OnClick="change_OnClick">View Customer List</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkSupportEmailList" runat="server" OnClick="change_OnClick">Assign Support Email</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkUserEmailList" runat="server" OnClick="change_OnClick">Support Email</asp:LinkButton></li>

                                <li>
                                    <asp:LinkButton ID="lnkComposeEmail" runat="server" OnClick="change_OnClick">Compose Email</asp:LinkButton></li>                          
                                    
                                <li>
                                    <asp:LinkButton ID="lnkComposedEmaillist" runat="server" OnClick="change_OnClick">Sent Email</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkBlockAddress" runat="server" OnClick="change_OnClick">Block Address</asp:LinkButton></li>
                            </asp:View>
                            <asp:View ID="viewUser" runat="server">
                                <li>
                                    <asp:LinkButton ID="lnkusertypemaster" runat="server" OnClick="change_OnClick">User Type Master</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkuserlist" runat="server" OnClick="change_OnClick">User List</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkadduser" runat="server" OnClick="change_OnClick">Add New User</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkemployeeSettings" runat="server" OnClick="change_OnClick">User Settings</asp:LinkButton></li>

                            </asp:View>
                            <asp:View ID="viewDsupport" runat="server">
                                <li>
                                    <asp:LinkButton ID="lnkErrTForm" runat="server" OnClick="change_OnClick">Error Ticket Form</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkErrTLog" runat="server" OnClick="change_OnClick">Error Ticket Log</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkRefundableTaxTLog" runat="server" OnClick="change_OnClick">Refundable Tax Log</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkChargeableTaxTLog" runat="server" OnClick="change_OnClick">Chargeable Tax Log</asp:LinkButton></li>
                            </asp:View>
                        </asp:MultiView>
                    </ul>
                </div>
            </div>
        </div>
        <div id="templatemo_main">
            <center>
                <div style="width: 100%;">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolderContent" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </center>
        </div>
        <div id="footer" align="right">
            Hi&nbsp;
        <asp:Label ID="lblhome" runat="server"></asp:Label>!!! &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
        &nbsp;
        <%--<a href="../UM/ChangePassword.aspx">Change Password</a>--%>
            <div style="float: right">
                Copyright &copy; 2019 All Rights Reserved. 
            </div>
        </div>
        <div id="POPUP1" style="display: none" runat="server">
            <asp:ModalPopupExtender ID="MPEMessage1" runat="server" TargetControlID="hb1" PopupControlID="pnlMPEMessage1"
                Drag="true" PopupDragHandleControlID="pnlMPEMessageHeader1" BackgroundCssClass="modalBackgroundNew"
                CancelControlID="btnMPEClose1" Y="150">
            </asp:ModalPopupExtender>
            <asp:Button ID="hb1" runat="server" Text="Button" Style="display: none" />
            <asp:Panel ID="pnlMPEMessage1" runat="server" CssClass=" modalMessagePopup" Style="left: 30%; top: 30%; display: none">
                <asp:Panel ID="pnlMPEMessageHeader1" runat="server" HorizontalAlign="Center" CssClass="popup_TitlebarSuccess">
                    Message
                </asp:Panel>
                <asp:Panel ID="MPEMessagePNL1" runat="server" CssClass="popupBodyDivSuccess">
                    <center>
                        <asp:Label ID="lblMPEMessage1" runat="server" Text=""></asp:Label>
                    </center>
                </asp:Panel>
                <div class="popupBottomDiv">
                    <center>
                        <asp:Button ID="btnMPEClose1" runat="server" Text="Close" ValidationGroup="message"
                            CssClass="btn btn-primary btn-sm" />

                    </center>
                </div>
            </asp:Panel>

            <asp:ModalPopupExtender ID="MPLogin" runat="server" TargetControlID="hb2" PopupControlID="pnlMPEMessage2"
                Drag="true" PopupDragHandleControlID="pnlMPEMessageHeader2" BackgroundCssClass="modalBackgroundNew"
                CancelControlID="btnMPEClose1" Y="150">
            </asp:ModalPopupExtender>
            <asp:Button ID="hb2" runat="server" Text="Button" Style="display: none" />
            <asp:Panel ID="pnlMPEMessage2" runat="server" CssClass=" modalMessagePopup" Style="left: 30%; top: 30%; display: none">
                <asp:Panel ID="pnlMPEMessageHeader2" runat="server" HorizontalAlign="Center" CssClass="popup_TitlebarSuccess">
                    Login to your Employee Account
                </asp:Panel>
                <asp:Panel ID="Panel3" runat="server" CssClass="popupBodyDivSuccess">
                    <center>
                        <div class="form-group1">
                            <div class="controls">
                                <asp:TextBox ID="txtmail" runat="server" placeholder="Username" type="text" class="form-control"></asp:TextBox>

                            </div>
                        </div>
                        <div class="form-group1">
                            <div class="controls">
                                <asp:TextBox ID="txtzip" class="form-control" placeholder="Password" runat="server"
                                    Text="Password" TextMode="Password"></asp:TextBox>
                            </div>
                        </div>
                        <div class="form-group1">
                            <div class="controls">
                                <asp:Button ID="btnlogin" runat="server" Text="Login" class="btn btn-primary form-control"
                                    OnClick="btnlogin_Click" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <asp:Label ID="lblmessage" Style="color: red; font-weight: bold" runat="server"
                                    Text=""></asp:Label>
                            </div>
                        </div>
                    </center>
                </asp:Panel>
                <%-- <div class="popupBottomDiv">
                    <center>
                        <asp:Button ID="Button2" runat="server" Text="Close" ValidationGroup="message"
                            CssClass="btn btn-primary btn-sm" />

                    </center>
                </div>--%>
            </asp:Panel>

        </div>
    </form>
</body>
</html>
