﻿.money { color:Red; }
.grid 
{ 
	width:700px; 
	font-family:Tahoma;
	border:solid 1px #408BB6;
}
.grid H2 
{ 
	margin:0; padding:0; 
	color:#ffffff;
	height:20px;
	line-height:20px;
	font-size:14px;
}
.grid .mid
{
	padding:3px 0px 0px 0px;
}
.grid .datatable
{
	width:100%;
	color:#666;
}        
.grid .datatable TH
{
    font-size:12px;
    font-weight:bold;
    letter-spacing:0px;
    text-align:left;
    padding:2px 4px;
    color:#333333;
    border-bottom:solid 2px #bbd9ee;
}
.grid .datatable TH A
{ 
	text-decoration:none;
	padding-right:18px; 
	color:#0066cc;
}
.grid .datatable TH.sortasc A { background:url(../App_Themes/asc.gif) right center no-repeat; }
.grid .datatable TH.sortdesc A { background:url(../App_Themes/desc.gif) right center no-repeat; }
.grid .datatable .row TD
{
    font-size:11px;
    text-align:left;
    padding:6px 4px;
    border-bottom:solid 1px #bbd9ee;
}      
.grid .datatable .row:hover
{
	background-color:#fffacd;
	color:#000;
}
.grid .datatable .row TD.first { padding-left:10px; }
.grid .datatable TH.first { padding-left:10px; }
.grid .datatable .row:hover .first
{
    background-repeat:no-repeat;
	background-image:url(../App_Themes/bullet.gif);background-position:left center ;
}  
/* Data Pager Styles */
TR.pager-row TD
{
    border-top:solid 2px #bbd9ee;
}
.pager
{
    font-family:arial,sans-serif;
    text-align:center;
    padding:6px;	
    font-size:14px;
} 
.pager SPAN.command,        
.pager SPAN.current,        
.pager A.command,
TR.pager-row TD A
{
    color:#5a90ce;
    padding:0px 4px;
    text-decoration:none;
    border:none;
}
.pager A.command:hover,
TR.pager-row TD A:hover
{
    border:solid 1px #408BB6;
    background-color:#59A5D1;
    color:#fff;
    padding:0px 3px;
    text-decoration:none;
}        
.pager SPAN.current,
TR.pager-row TD SPAN
{
	border:none;
    font-weight:bold;
    color:#3e3e3e;
    padding:0px 6px;
}
 TR.pager-row TD
{
	border-top:none;
	text-align:center;
}
 TR.pager-row TABLE
{
	height:30px;
	margin:0 auto 0 auto;
}