#cssmenu ul {
    top: 0px;
    list-style-type: none;
    position: absolute;
    display: block;
    height: 36px;
    text-transform: uppercase;
    left: 50px;
}

#cssmenu li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}

    #cssmenu li a {
        display: block;
        float: left;
        color: #033c73;
        text-decoration: none;
        font-weight: 600;
        padding: 7px 15px 0 15px;
        height: 30px;
        /* background: transparent url(images/divider.gif) no-repeat top right; */
        background-image: linear-gradient(to top, #9F294A, #e18484);
        color: #fff;
        border-right: 1px solid #9F294A;
    }

        #cssmenu li a:hover, #cssmenu .current {
            background: transparent url(images/hover.gif) no-repeat top right;
            color: #ffffff;
            background-image: linear-gradient(to bottom, #9F294A, #e18484);
        }
