﻿.floatright {
    float: right;
}

.floatleft {
    float: left;
}

.textright {
    text-align: right;
}

.rowtr tr 
{ background-color:red;

}
.margin300top {
    margin-top: 300px;
}
.itemtr {
text-align:center;
}

.overflowscroll {
    overflow: scroll;
    display: block;
    height: 233px;
}

.pnlcentre {
    border: 1px solid #999999;
    margin: 28px 30px 30px 107px;
}

.pnl_noti {
    background-color: #99CCFF;
    color: #FFFFFF;
    width: 100px;
    height: 200px;
}

.stripSearch {
    height: 26pt;
    width: 100%;
    width: 99.9%;
    background-color: #7e1633;
    border-radius: 0px;
}

.tdheader2 {
    background-color: #EAEAEA;
    height: 26pt;
    width: 100%;
}

.tdheader {
    width: 100%;
    background-color: #009999;
    color: #FFFFFF;
    border-style: inset;
    border-color: Black;
    border-width: 1px;
    font-weight: bold;
    text-align: center;
}

.gridfloatright {
    padding: 3px;
    white-space: nowrap;
    border-right: 1px solid #223A5B;
    border-bottom: 1px solid #223A5B;
    color: #223A5B;
    height: 4px;
    text-align: right;
}

.Validationcheck {
    border-color: red !important;
}

.gridfloatleft {
    padding: 3px;
    white-space: nowrap;
    border-right: 1px solid #223A5B;
    border-bottom: 1px solid #223A5B;
    background-color: #FFFFFF;
    color: #223A5B;
    height: 4px;
    text-align: left;
    font-size: 10pt;
    font-family: Calibri;
}

.stripSearchWide {
    height: 44pt;
    width: 99.9%;
    background-color: #7e1633;
    border-radius: 0px;
    margin-bottom: 2px;
}

.strip {
    height: 33pt;
    width: 100%;
    background-color: #fff;
    color: Black;
    font-size: 10pt;
    font-family: Calibri;
    border-bottom: 1px inset Black;
    border-left-color: Black;
    border-left-width: 1px;
    border-right-color: Black;
    border-right-width: 1px;
    border-top-color: Black;
    border-top-width: 1px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.stripbelow {
    border: thin groove #000099;
    background-color: #0000CC;
    padding-top: 5px;
    color: White;
    font-size: 12pt;
    font-family: 'Arial Rounded MT Bold';
}

.gridalert {
    text-align: right;
    color: Red;
}

.GridView tr {
    border: 1px solid #223A5B;
}



.GridView .selected {
    background: #DDEBF9;
    color: #223A5B;
    border-bottom: 1px solid #223A5B;
    height: 20px;
    text-align: left;
}

.GridView tr th {
    border: 1px solid #b05858;
}

.GridView .AlternatingRowStyle {
    text-align: left;
    height: 20px;
    background: White;
}

.GridView .FooterStyle {
    background: #067ED3;
    color: White;
    height: 20px;
    text-align: left;
}

.GridView .HeaderStyle {
    height: 20px;
    font-weight: bold;
    color: White;
    text-align: center;
    padding-right: 4px;
    background-image: linear-gradient(#e58c8c, #a85353 60%, #e58c8c);
}

.GridView .PagerStyle {
    font-family: Calibri,sans-serif;
    text-align: left;
    padding: 6px;
    font-size: 14px;
}

.GridView .RowStyle {
    background: #ffffff;
    color: #223A5B;
    border-bottom: 1px solid #223A5B;
    height: 20px;
    text-align: left;
}

.GridView .SelectedRowStyle {
    background: #FFFFFF;
    height: 30px;
    text-align: left;
    color: Navy;
}

.GridView .SortedAscendingCellStyle {
    background: #FDF5AC;
}

.GridView .SortedAscendingHeaderStyle {
    background: #4D0000;
}

.GridView .SortedDescendingCellStyle {
    background: #FCF6C0;
}

.GridView .SortedDescendingHeaderStyle {
    background: #820000;
}

input[type="text"] {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075) inset;
    line-height: 1.42857;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    padding: 1px;
    text-align: left;
    color: Black;
    font-weight: normal;
    font-size: 9pt;
    font-family: Calibri;
}

.formTextBoxes {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075) inset;
    line-height: 1.42857;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    padding: 1px;
    text-align: left;
    color: Black;
    font-weight: normal;
    font-size: 9pt;
    font-family: Calibri;
    width: 200px;
}

select {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075) inset;
    line-height: 1.42857;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    padding: 1px;
    text-align: left;
    color: Black;
    font-weight: normal;
    font-size: 9pt;
    font-family: Calibri;
    width: 140px;
}

    select:focus {
        border-color: #66AFE9;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
        outline: 0 none;
    }

input[type="text"]:focus, .formTextBoxes:focus {
    border-color: #66AFE9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}

input[type="text"][disabled], input[type="text"][readonly], select[disabled], .formTextBoxes[disabled], .formTextBoxes[readonly], fieldset[disabled] .formTextBoxes {
    background-color: #EEEEEE;
    cursor: not-allowed;
}

.InvoiceTextBoxes {
    width: 125px;
    height: 18px;
    padding: 1px;
    vertical-align: middle;
    background: #fff;
    text-align: left;
    color: Black;
    border: 1px inset #68614D;
    font-weight: normal;
    font-size: 9pt;
    font-family: Calibri;
}

/*
.InvoiceTextBoxesAmount
{
    width: 150px;
    height: 18px;
    padding: 1px;
    vertical-align: middle;
    background: #fff;
    text-align: left;
    color: Black;
    border: 1px inset #68614D;
    font-weight: normal;
    font-size: 10pt;
    font-family: Calibri;
    text-align: right;
}*/
.button {
    font-size: 9pt;
    font-family: Verdana;
    background-image: url('menu/images/buttonhot_bg.png');
    background-repeat: repeat-x;
    background-color: #D0ECFC;
    text-align: center;
    color: Black;
}


    .button:hover {
        background-image: url('menu/images/button_bg.png');
        background-repeat: repeat-x;
        background-color: #5A5A5A;
    }

    .button:active {
        background-color: #50AADA;
    }

.striptextbox {
    width: auto;
    height: 12px;
    padding: 1px;
    vertical-align: middle;
    font-size: 9pt;
    font-family: Calibri;
    background: #fff;
    text-align: left;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: #68614D;
}

.watermarked {
    background-color: white;
    color: Gray;
    padding: 2px 0 0 2px;
}

.watermarkedAmount {
    background-color: white;
    text-align: right;
    color: Gray;
    padding: 2px 0 0 2px;
}
/*AutoComplete flyout */
.autocomplete_completionListElement {
    margin-top: -3px !important;
    margin-left: -3px !important;
    background-color: window;
    color: windowtext;
    border: buttonshadow;
    border-width: 1px;
    border-style: solid;
    cursor: 'default';
    overflow: auto;
    text-align: left;
    list-style-type: none;
    max-height: 250px;
    z-index: 99999 !important;
}
/* AutoComplete highlighted item */
.autocomplete_highlightedListItem {
    background-color: #ffff99;
    color: black;
    padding: 1px;
}
/* AutoComplete item */
.autocomplete_listItem {
    background-color: window;
    color: windowtext;
    padding: 1px;
}


.formTextBoxesAmount {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075) inset;
    line-height: 1.42857;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    padding: 1px;
    text-align: right;
    color: Black;
    font-weight: normal;
    font-size: 9pt;
    font-family: Calibri;
    min-width: 50px;
    width: 50px;
}

    .formTextBoxesAmount:focus {
        border-color: #66AFE9;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
        outline: 0 none;
    }

    .formTextBoxesAmount[disabled], .formTextBoxesAmount[readonly], fieldset[disabled] .formTextBoxesAmount {
        background-color: #EEEEEE;
        cursor: not-allowed;
    }

.input-group .formTextBoxesAmount {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 22px;
    width: 100px;
    text-align: right;
}

.input-group-addon {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 4px 0px 0px 4px;
    font-weight: normal;
    line-height: 1;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-right: none;
    margin: 0 0 0 -5px;
    display: table-cell;
}

.input-group {
    border-collapse: separate;
    display: table;
    position: relative;
}

    .input-group .formTextBoxes {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

.input-group-addon-search {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 0px 4px 4px 0px;
    font-size: 9pt;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-left: none;
    margin: 0 0 0 -5px;
    display: table-cell;
}

.formDropDown {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075) inset;
    display: block;
    line-height: 1.42857;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 144px;
    padding: 1px;
    text-align: left;
    color: Black;
    font-weight: normal;
    font-size: 9pt;
}

    .formDropDown:focus {
        border-color: #66AFE9;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
        outline: 0 none;
    }

    .formDropDown[disabled], .formDropDown[readonly], fieldset[disabled] .formDropDown {
        background-color: #EEEEEE;
        cursor: not-allowed;
    }

.gridHghtwidth {
    width: 1300px;
    height: 500px;
}

.thstyle {
    border: 1px solid #000080;
    background-color: #50AADA;
    font-family: Arial;
    font-size: 10pt;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

#mymenu {
    background-color: #FFFF99;
    /*border-radius: 8px;*/
    display: none;
    z-index: 100;
    position: absolute;
    margin-top: -5px;
    padding-right: 10px;
}

    #mymenu ul {
        list-style: none;
        background: #FFFF99;
        text-align: right;
        color: #636362;
        padding: 5px;
        margin: 5px;
        font-weight: bold;
        font-size: 14px;
    }

        #mymenu ul li {
            background: #FFFF99;
            background-position: absolute;
            /*-webkit-background: none repeat scroll 0 0 #ffff99;*/
            text-align: left;
            color: #636362;
            font-size: 12px;
            text-decoration: none;
            margin: 5px;
            font-weight: bold;
        }

            #mymenu ul li a {
                color: #ffffff;
                text-decoration: none;
                font-weight: bold;
            }

                #mymenu ul li a:hover {
                    text-decoration: underline;
                }

.lbl {
    border-color: transparent;
    color: #2FA4E7;
    font-weight: normal;
    cursor: pointer;
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;
}


.progressTemplates {
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    filter: alpha(opacity=40);
    -moz-opacity: .40;
    opacity: .30;
    z-index: 10009;
}

    .progressTemplates div {
        width: auto;
        margin: 20%;
        background-color: transparent;
        filter: alpha(opacity=0);
    }

.progressImage {
    width: 100px;
    height: 100px;
}

.forRedcolor {
    color: Red;
}

.contarctform {
    width: auto;
}

    .contarctform .tr {
        width: 100%;
    }

    .contarctform .td {
        margin: 0px 5px 0px 5px;
    }
