

/* Logo */

#logo {
	width: 770px;
	height: 140px;
	margin: 0 auto;
	background: url(images/img02.gif) no-repeat 0 665px;
}

#logo h1 {
	padding: 46px 0 0 0px;
}

#logo h1 a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 30px;
}

#logo h1 i {
	text-transform: lowercase;
	letter-spacing: -3px;
	font: italic normal 48px Georgia, "Times New Roman", Times, serif;
	color: #385B88;
}

#logo h2 {
	padding: 0 0 0 2px;
	text-transform: lowercase;
	font-size: 1em;
}

#logo a {
}
/* menu */

#templatemo_menu {
	width: 830px;
	height: 50px;
	margin: 0 10px 0 100px;
	padding: 20px 30px 0 0;
	background: url(images/templatemo_menu.png) top repeat-x;
}

#templatemo_menu ul {
	
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	height: 42px;
	width: 692px;
}

#templatemo_menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#templatemo_menu ul li a
{
	border-style: none;
	border-color: inherit;
	border-width: medium;
	float: left;
	display: block;
	width: 104px;
	height: 40px;
	padding: 0;
	margin: 0 5px 0 0;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	color: #FF9900;
	font-weight: bold;
	outline: none;
	}

#templatemo_menu ul li a:hover, #templatemo_menu ul li .current {
	height: 38px;
	padding-top: 10px;
	color: #fff;
	background: url(images/templatemo_menu_hover.png) bottom no-repeat;
}

/* end of menu */

/* Content */



/* Content > Main */

#main {
	float: right;
	width: 500px;
	margin-top: -80px;
}

/* Content > Main > Welcome */

#welcome {
}

/* Content > Main > Example */

#example {
}

/* Content > Sidebar */

#sidebar {
	float: left;
	width: 182px;
}

/* Content > Sidebar > Login */

#login {
}

#login form {
}

#login fieldset {
	border: none;
}

#login legend {
	display: none;
}

#login label {
	font-size: x-small;
	font-weight: bold;
}

#login input {
	margin-bottom: 5px;
	padding: 2px 5px;
	border: 1px solid #385B88;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#inputtext1, #inputtext2 {
	color: #385B88;
}

#inputsubmit1 {
	background: #385B88;
	color: #FFFFFF;
}

/* Content > Sidebar > Menu */

#menu {
	margin-bottom: 30px;
	border-bottom: 4px solid #EBEBEB;
}

#menu ul {
	margin: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	padding: 10px 0 10px 24px;
	border-top: 1px solid #EBEBEB;
	color: #E08934;
}

#menu a:hover, #menu .active a {
	background: #EBEEF3;
	text-decoration: none;
	font-weight: bold;
	color: #385B88;
}

/* Content > Sidebar > Updates*/

#updates {
}

#updates ul {
	margin: 0;
	list-style: none;
}

#updates h3 {
	margin: 0;
	font: bold x-small Verdana, Arial, Helvetica, sans-serif;
}

#updates p {
	margin-bottom: 1.4em;
	font-size: smaller;
	line-height: normal;
}

/* Content > Sidebar > Partners*/


#partners ul {
	margin: 0;
	border-bottom: 1px solid #D1BC5C;
	list-style: none;
	line-height: normal;
}

#partners li {
	padding: 10px;
	border-top: 1px solid #D1BC5C;
}
#templatemo_main {
	float: right;
	width: 524px;
	padding-top: 40px;
	margin-right: 30px;
	height: 23px;
}

/* Footer */

#footer {
	clear: both;
	padding: 20px 50px;
	width: 770px;
	margin: 0 auto;
	background: #EAEAEA url(images/img6.gif) repeat-x left top;
}

#footer p {
	clear: both;
	padding: 5px;
	height:10px;
	width: 100%;
	margin: 0 auto;
	background: #68614D;
	font-size: x-small;
	color:#fff;
	bottom:0px;
	position:fixed;
	border-top: 1px solid #000000;
}




