.GridviewScrollHeader {
    background-image: linear-gradient(#e58c8c, #a85353 60%, #e58c8c);
}
    .GridviewScrollHeader TH, .GridviewScrollHeader TD {
        padding: 0px 2px 0px 2px;
        font-weight: bold;
        white-space: nowrap;
        border-right: 1px solid;
        border-bottom: 1px solid;
        background-image: linear-gradient(#e58c8c, #a8535360%, #e58c8c);
        border-color: #a85353;
        vertical-align: middle;
        text-align: center;
        color: White;
        height: 14px;
    }

.GridviewScrollItem TD {
    padding: 1px 3px;
    white-space: nowrap;
    border-right: 1px solid #223A5B;
    border-bottom: 1px solid #223A5B;
    background-color: #FFFFFF;
    color: #223A5B;
    height: 4px;
    font-size: 12px;
}

.GridviewScrollItemRed TD {
    padding: 0px 0px 0px 1px;
    white-space: nowrap;
    border-right: 1px solid #223A5B;
    border-bottom: 1px solid #223A5B;
    background-color: #CC3300;
    color: #FFFFFF;
    height: 4px;
    font-size: 12px;
}


.GridviewScrollItem TD:hover {
    background-color: #f9dddd;
}

.GridviewScrollItem .selected {
    background: #DDEBF9;
}



.GridviewScrollItem .Freeze {
    background-color: #EFEFEF;
}

.GridviewScrollItemHover TD {
    padding: 5px;
    white-space: nowrap;
    border-right: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    background-color: #CCCCCC;
    cursor: pointer;
}

.GridviewScrollItemHover .Freeze {
    background-color: #CCCCCC;
}

.GridviewScrollItemSelected TD {
    padding: 5px;
    white-space: nowrap;
    border-right: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    background-color: #999999;
    color: #FFFFFF;
}

.GridviewScrollItemSelected .Freeze {
    background-color: #999999;
}

.GridviewScrollPager {
    border-top: 1px solid #AAAAAA;
    background-color: #FFFFFF;
}

    .GridviewScrollPager TD {
        padding-top: 3px;
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .GridviewScrollPager A {
        color: #666666;
    }

    .GridviewScrollPager SPAN {
        font-size: 16px;
        font-weight: bold;
    }

.GridViewProductOdreList {
    height: 400px;
    overflow: scroll;
}

.redColor {
    color: #FF0000;
    background-color: #FF0000;
}
.GridviewScrollFooter {
    background-color: #e58c8c;
    font-size: 15px;
}