body {
    margin: 0;
    padding: 0;
    background: #ffdde7;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #FF6600;
}

.login-page h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
}

.loginHeader {
    clear: both;
    padding: 0 0 22px 0;
    border-bottom: 1px solid #ffa1bc;
}

.LoginBody {
padding: 20px;
width: 879px;
/* height: auto; */
border-radius: 5px;
margin: 0 0 47px 0;
padding: 16px 0 73px 0;
}

.content {
width: 540px;
}

.MainDiv {
    display: none;
}

.forget {
    display: block;
}

div.logo-wrap {
width: 260px;
margin: auto;
padding-top: 20px;
}

.logo {
    color: #336699;
    margin-bottom: 0;
}

    .logo i {
        color: #006666;
    }

.login-page input {
    border: 0;
    background-color: #f5f6f7;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.error {
    color: white;
    background: rgba(255, 0, 0, 0.87);
    display: block;
    padding: 5px;
    border-radius: 3px;
}

.date {
    text-align: center;
}

.copyright {
    text-align: center;
    bottom: 0px;
    position: fixed;
}

.login-wrapper {
width: 900px;
margin: 92px auto auto auto;
animation: mymove 5s infinite;
-webkit-animation: mymove 10s infinite;
background-image: linear-gradient(to top, #9f294a, #e18484);
}

@keyframes mymove {
    50% {
        box-shadow: 10px 20px 30px #888888;
    }
}

/*Safari and Chrome:*/
@-webkit-keyframes mymove {
    50% {
        box-shadow: 10px 20px 30px #888888;
    }
}

.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-group {
    margin-bottom: 15px;
}

.login-page input[type=text], .login-page input[type=password], .login-page button {
padding: 8px 15px!important;
height: auto!important;
font-size: 16px;
width: 85%;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
border-radius: 0;
border: 1px solid #c2c2c2;
background: #fff;
}


.btn {
    background-image: none;
    filter: none;
    border: 0;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0 !important;
}

.login-page form button {
    padding: 15px 10px !important;
    height: auto !important;
    font-size: 16px;
}

.btn.btn-primary {
color: #000;
background-image: -webkit-linear-gradient(left, #d1b57a 0%, #ded59d 55%, #bda56d 100%);
font-weight: 600;
width: 85%;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
        color: #000;
        background-color: #FF9933;
        border-color: #285e8e;
        background-image: -webkit-linear-gradient(left, #fff0d1 0%, #ded59d 55%, #d8c79d 100%);
        font-weight: 600;
    }
