P.pagebreak
{
    page-break-after:always;
}


      .ck-button:hover {             /*ADD :hover */
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid red;      /*change border color*/ 
    overflow:auto;
    float:left;
    color:red;                 /*add font color*/
}


@media print
{
  .page-break  { display:block; page-break-before:always; }
   textarea { overflow:visible; }
}

@media all
{
  .page-break  { display:none; }
}
.displayNone
{
    display:none;
}
.displayAll
{
    display:block;
}
.fullwidth
{
    width:99.8%
}
.txtlongnotes
{
    width:99%;
    height:70px;
    background-color: #FFFFFF;
border: 1px solid #CCCCCC;
border-radius: 4px 4px 4px 4px;
box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075) inset;
display: block;
line-height: 1.42857;
transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
vertical-align: middle;
padding: 1px;
text-align: left;
color: black;
font-weight: normal;
font-size: 10pt;
font-family: Calibri;
}

#logo {
    background-position: 34px;
    width: 100%;
    height: 36px;
    top: 0px;
    border-bottom: 1px Solid #f47899;
    background: transparent url(menu/images/OFF.gif) repeat;
    font-family: 'Calibri';
    border-style: outset outset ridge inset;
    /* overflow: auto; */
    font-weight: bold;
    font-style: normal;
    display: inline;
    font-size: 14px;
    position: absolute;
    background-image: linear-gradient(to top, #9f294a, #e18484);
    /* background: #9F294A; */
}

#logo h1 {
	padding: 10px 0 0 10px;
	width: 135px;
	height: 11px;
}

#logo h1 a {
	
	text-decoration: none;
	font-size: 14pt;
}

#logo h1 i
{
	text-transform: lowercase;
	letter-spacing: -1px;
	font: italic normal 14pt Arial;
    color: #fff;
}

#logo h2 {
	padding: 0 0 0 2px;
	text-transform: lowercase;
	font-size: 8pt;
	top:5px;
	position:fixed;
}

#logo a {
}

#top {
	width: 33px;
	float:right;
	height: 20px;
	margin: 5px;
	/*background: #68614D;*/
	z-index:999;
	font: italic normal 12pt Verdana;
	letter-spacing:1px;
	color: #fff;
	vertical-align:top;
	top:0px;
	right:10px;
	position:fixed;
	
	
}
 #side
 {
	top:17px;
	right:15px;
	position:fixed;
    height: 12px;
    
}
	#side a
{
    background: #333333;
    text-decoration: none;
    font-family: Verdana;
    font-size: 8pt;
    color: #067ED3;
} 





/* menu */

#templatemo_menu {
	width: 884px;
	height: 30px;
	top:15px;
	/* position:fixed;*/

	margin: -5px 0px 0px 205px;
	padding: 0px 0px 0px 0px;
}
	
		
/* end of menu */

/* Content */

#content 
{
    overflow:auto;
	width: 100%;
	margin: 0;
	margin-top: 36px;
}


/* Content > Sidebar */
#sidebar {
    left: 0px;
    width: 100%;
    height: 25px;
    margin: auto;
    -moz-box-shadow: inset -7px 0 10px rgba(114,114,114, 0.4);
    -webkit-box-shadow: inset -7px 0 10px rgba(114,114,114, 0.4);
    box-shadow: inset -7px 0 10px rgba(114,114,114, 0.4);
    text-shadow: 0 -1px 1px #cfcfcf;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: #e58c8c;
    font-size: 14px;
    overflow: auto;
}
/* Content > Sidebar > Menu */

#menu
{
   
    width: 100%;
    position:relative;
    border-right: 1px solid #BBB; /*right border between menu items*/
   
}

#menu ul {
	
	margin: 0px 0px 0px 5px;	
	padding: 0;
	list-style: none;
	display: inline-block;
	 height:25px;
}

#menu li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

    #menu a {
        float: left;
        min-width: 100px;
        height: 22px;
        padding: 0px 5px 0px 5px;
        padding-top: 3px;
        margin: 0px;
        text-align: center;
        text-decoration: none;
        color: #000000;
        font-weight: bold;
        text-shadow: none;
    }

        #menu a:hover, #menu .current {
            color: white;
            text-shadow: none;
            font-size: 14px;
            background: #bd5364;
            box-shadow: inset -7px 0 10px rgba(160, 54, 54, 0.4), inset 0 0 12px rgba(239, 136, 136, 0.6);
        }



#templatemo_main {
	width:100%;
	/*min-height:500px;*/
	
	padding-bottom:20px;
	position:relative;
	
	z-index:0;
}

/* Footer */

#footer {
    width: 99.2%;
    background: #9f294a;
    text-align: left;
    color: #fff;
    bottom: 0px;
    position: fixed;
    border-top: 1px solid #9f294a;
}

.notification-no
{
    position: absolute;
    top: -5px;
    font-size: 12px;
    left: 17px;
    background: #FF0000;
    border-radius: 50%;
    padding: 0px 3px;
}