﻿.Ipanel
{
	width:1140px;
	height:570px;
	color: #FFFFFF;
	overflow:hidden;
	position:relative;
}
.firstDiv
{
	width:1100px;
	height:530px;
	background-color:White;
	padding:0px 0px 0px 0px;
	border-width:15px;
	border-style:solid;
	border-color:Black;
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
}
.secondDiv
{
	margin:0px 0px 0px 0px;
	background: white;
	clear: both;
	left: 15px;
	overflow: hidden;
	position: absolute;
	top: 15px;	
}
	