#cssnoty ul,
#cssnoty li,
#cssnoty span,
#cssnoty a {
  margin: 0;
  padding: 0;
  position: relative;
}
#cssnoty {
 
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
 
}
#cssnoty:after,
#cssnoty ul:after {
  content: '';
 display:inline;
  clear: both;
}
#cssnoty a {
  background: #fefefe;
  background: -moz-linear-gradient(top, #fefefe 0%, #ececec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #ececec));
  background: -webkit-linear-gradient(top, #fefefe 0%, #ececec 100%);
  background: -o-linear-gradient(top, #fefefe 0%, #ececec 100%);
  background: -ms-linear-gradient(top, #fefefe 0%, #ececec 100%);
  background: linear-gradient(top, #fefefe 0%, #ececec 100%);
  color: #000;
  display: inline-block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 12px;
  line-height: 49px;
  padding: 0 20px;
  text-decoration: none;
}
#cssnoty ul {
  list-style: none;
  z-index:9999;
}
#cssnoty > ul {
  float: left;
}
#cssnoty > ul > li {
  float: left;
}
#cssnoty > ul > li > a {
  color: #000;
  font-size: 12px;
}
#cssnoty > ul > li:hover:after {
  content: '';
 
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
 /* border-bottom: 10px solid #eb323e;*/
  margin-left: -10px;
}
#cssnoty > ul > li:first-child > a {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}
#cssnoty > ul > li.active:after {
  content: '';
  
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
 /* border-bottom: 10px solid #eb323e;*/
  margin-left: -10px;
}
#cssnoty > ul > li.active > a {
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  background: #ececec;
  background: -moz-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #ffeeff ef));
  background: -webkit-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
  background: -o-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
  background: -ms-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
  background: linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
}
#cssnoty > ul > li:hover > a {
  background: #ececec;
  background: -moz-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #ffeeff ef));
  background: -webkit-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
  background: -o-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
  background: -ms-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
  background: linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}
#cssnoty .has-sub {
  z-index: 1;
}
#cssnoty .has-sub:hover > ul {
  display: block;
}
#cssnoty .has-sub ul
{
    display: none;
    position: absolute;
    width: 200px;
    top: 100%;
    right: 0px;
}
#cssnoty .has-sub ul li {
  margin-bottom: -1px;
}
#cssnoty .has-sub ul li a {
  background: #eb323e;
  border-bottom: 1px dotted #f0606a;
  filter: none;
  font-size: 11px;
  display: block;
  line-height: 120%;
  padding: 10px;
  color: #ffffff;
}
#cssnoty .has-sub ul li:hover a {
  background: #d51521;
}
#cssnoty .has-sub .has-sub:hover > ul {
  display: block;
}
#cssnoty .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#cssnoty .has-sub .has-sub ul li a {
  background: #d51521;
  border-bottom: 1px dotted #f0606a;
}
#cssnoty .has-sub .has-sub ul li a:hover {
  background: #be131e;
}
