﻿.NewsTab .ajax__tab_header
{
    border: 1px solid #3399FF;
    color: #423112;
    font-size: 13px;
    font-weight: bold;
    background-color: #f5f5f5;
    margin-left: 0px;
}
.NewsTab .ajax__tab_outer
{
    background-color: #EBE8E8;
}
.NewsTab .ajax__tab_inner
{
    cursor:pointer;
    padding: 1px 8px 1px 8px;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 1px;
    margin-bottom: 2px;
    background-color: #FFFFFF;
    min-width: 50px;
    border-radius: 4px 4px 0px 0px;
}
.NewsTab .ajax__tab_hover .ajax__tab_outer
{
}
.NewsTab .ajax_tab_hover .ajax_tab_inner {
    background: #c45876;
    color: #fff;
}
.NewsTab .ajax__tab_active .ajax__tab_outer
{
}
.NewsTab .ajax__tab_active .ajax__tab_inner {
    background-color: #c45876;
    font-size: 13px;
    font-weight: bold;
    color: White;
}
.tabPage
{
    border: 2px solid #3399FF;
}
