﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Exception.aspx.cs" Inherits="Exception" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        OOOOP's, You may have did somthing wrong or your current session has been expired. <br />Please <a runat="server" href="~/AM/SignIn.aspx">Sign In</a> again.
    </div>
    </form>
</body>
</html>
