﻿<%@ Application Language="C#" %>

<script runat="server">

        void Application_Start(object sender, EventArgs e)
        {
            // Code that runs on application startup

        }

        void Application_End(object sender, EventArgs e)
        {
            //  Code that runs on application shutdown

        }


        void Application_Error(object sender, EventArgs e)
        { 
        //{ 
        //    // Code that runs when an unhandled error occurs

        //    Exception Ex = Server.GetLastError().GetBaseException();
        //    string errMsg = Ex.Message;
        //    string place = Ex.StackTrace;
        //    string Source = Ex.Source;
        //    string err =  Request.Url.ToString() ;

        //    PropertyErrorMaster pobj = new PropertyErrorMaster();
        //    pobj.ErrorMsg = errMsg;
        //    pobj.Place = place;
        //    pobj.Source = Source;
        //    pobj.Url = err;
        //    pobj.Erdate = (DateTime.Now);
        //    BusinessUtility.SendErrorMail(errMsg, place, Source, err);
        //   // pobj.Usrid = Session["Session_EmpID"].ToString();
        //    BusinessErrorMaster.insert(pobj);
    }


    void Session_Start(object sender, EventArgs e)
    {
        // Code that runs when a new session is started

    }

    void Session_End(object sender, EventArgs e)
    {

        // Code that runs when a session ends. 
        // Note: The Session_End event is raised only when the sessionstate mode
        // is set to InProc in the Web.config file. If session mode is set to StateServer 
        // or SQLServer, the event is not raised.

    }

</script>
